@if (User.IsInRole("admin"))
{
    @model IEnumerable<RosCottedge.Models.User>

    {
        ViewBag.Title = "Index";
    }

    @Html.Partial("AdminPanel")
    <div class="container">
        <div class="row">
            <div class="AdminPanel">
                <table>
                    <tr>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Фамилия</th>
                        <th>Почта</th>
                        <th>Номер</th>
                        <th>Логин</th>
                        <th>Дата регистрации</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MiddleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Login)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.RegistrationDate)
                            </td>
                            <td>
                                <div class="AdminEditButton">
                                    @Html.ActionLink("Редактировать", "UserPersonalInformation", "Admin", new { Id = item.Id }, null) 
                                </div>
                            </td>
                            <td>

                                    @using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div>
                                            <input type="hidden" value="@item.Id" name="id" />
                                            <input id="AdminDeleteButton" type="submit" value="Удалить" />
                                        </div>
                                    }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}