@model RosCottedge.Models.User

@{
    ViewBag.Title = "Смена пароля";


}
@Html.Partial("Profile")
<div class="Form formEditPassword formEditInfo mainBox">

    @using (Html.BeginForm(Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "validFormEditPassword" })))
    {@Html.AntiForgeryToken()
        <div class="innerForm">
            <div class="fields">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="smallInputForm">
                    
                    @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.PasswordFor(model => model.OldPassword)

                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                </div>
                <div class="smallInputForm floatInput">
                    
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                    <input type="submit" value="Сохранить" />

                    @Html.HiddenFor(Model => Model.Id)
                    @Html.HiddenFor(Model => Model.Email)
                    @Html.HiddenFor(Model => Model.FirstName)
                    @Html.HiddenFor(Model => Model.LastName)
                    @Html.HiddenFor(Model => Model.Login)
                    @Html.HiddenFor(Model => Model.MiddleName)
                    @Html.HiddenFor(Model => Model.Phone)
                    @Html.HiddenFor(Model => Model.RegistrationDate)
                </div>
            </div>
                    }
    </div>
@*@Html.ActionLink("Вернуться назад", "PersonalInformation")*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#validFormEditPassword').validate({
                rules: {
                    Password: {
                        required: true,
                        minlength: 5
                    },
                    OldPassword: {
                        required: true,
                        remote: '/Account/IsPassAvailable'
                    }
                },
                messages: {
                    Password: {
                        required: "Введите пароль",
                        minlength: "Минимальная длина пароля от 5 символов"
                    },
                    OldPassword: {
                        required: "Введите старый пароль",
                        remote: "Неверный пароль"
                    }
                    
                },
                focusCleanup: true,
                focusInvalid: false
            });
    </script>

}