@model RosCottedge.Models.User

@{
    ViewBag.Title = "Вход на сайт";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
    <div class="Form FormLogin mainBox">

        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "validFormLogin" }))
        {

            @Html.AntiForgeryToken();

            //ServerError
            @Html.ValidationSummary(true, "")


            <div class="innerForm">
                <div class="fields">
                    <div>@Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "firstItemForm field", @placeholder = "Логин" } })</div>

                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "field", @placeholder = "Пароль" } })
                    <input type="submit" value="Войти" />
                </div>
                <a class="questBox" href="/Account/Register">У вас еще нет аккаунта?</a>
            </div>
        }
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
