@model RosCottedge.ViewModels.MyHouseViewModel
@using RosCottedge.Models;

@{
    ViewBag.Title = "MyHouse";
}
@Html.Partial("Profile")



<div class="container">
    <div class="messageUser">
        @if (TempData["message"] != null)
        {
            <div>@TempData["message"]</div>
        }
        @if (TempData["create"] != null)
        {
            <div>@TempData["create"]</div>
        }
    </div>
    <div class="row">
        <div class="col-md-8">
            @foreach (var item in Model.House)
            {                  
                 <div class="houseContainer mainBox">
                    <div class="houseContainerHead">
                        <h3>@item.Name</h3>
                    </div>
                    <div class="houseBodyContainer">
                        <div class="houseBodyIMG" style="background-image: url(@item.Pictures.Where(x => x.HouseId == item.Id).Select(x => x.Adress).FirstOrDefault());"></div>
                        <div class="navHouseBody">
                        <div class="houseBodyRating"><span class="numberRating">@item.Rating</span></div>
                        <a href="/Account/EditMyHouse/@item.Id" class="remoteHouse"><p>Управление</p></a>
                        <a href="/House/Index?houseId=@item.Id"><p>Страница дома</p></a>
                            <div class="houseDelButton">
                                @using (Html.BeginForm("DeleteHouse", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "delHouse" }))
                                {
                                    <input type="hidden" value="@item.Id" name="id" /><br>
                                    <input class="closeInput" type="submit" value="" title="Удалить дом"/>
                                }
                            </div>
                    </div>
                        @*<span class="close"></span>*@
                            
                    </div>
                        
                </div>
            }
            

        </div>
        <div class="col-md-4 allNoticeMyHouse">

            @foreach (var item in Model.GeneralClass)
            {
                if (item.Reserv == true)
                {
                    <div class="noticeItem mainBox">
                        <div class="headerNotice noticeColorRed">
                            <p><span>@item.User.FirstName</span>, забронировал(а) дом "@item.House.Name"</p>
                        </div>
                        
                    </div>
                    <div class="footerNotice">
                        <span>@item.Date.ToString("dd.MM.yyyy")</span>
                        @using (Html.BeginForm("DeleteReservationLandlord", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" value="@item.HouseId" name="houseId" />
                                <input type="hidden" value="@item.Id" name="id" /><br>
                                <input type="submit" value="Удалить" />
                        }
                    </div>


                }
                else if (item.Review == true)
                {
                    <div class="noticeItem mainBox">
                        <div class="headerNotice noticeColorGreen">
                            <p><span>@item.User.FirstName</span>, оставил(а) отзыв к дому "@item.House.Name"</p>
                        </div>
                        
                    </div>
                    <div class="footerNotice">
                        <span>@item.Date.ToString("dd.MM.yyyy")</span>
                        @using (Html.BeginForm("DeleteReviews", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" value="@item.HouseId" name="houseId" />
                                <input type="hidden" value="@item.Id" name="id" /><br>
                                <input type="submit" value="Удалить" />
                        }
                    </div>

                }
                else
                {
                    <div class="noticeItem mainBox">
                        <div class="headerNotice noticeColorBlue">
                            <p><span>@item.User.FirstName</span>, отменил(а) бронь "@item.House.Name"</p>
                        </div>
                        
                    </div>
                    <div class="footerNotice">
                        <span>@item.Date.ToString("dd.MM.yyyy")</span>
                        @using (Html.BeginForm("DeleteReservationNotif", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" value="@item.HouseId" name="houseId" />
                                <input type="hidden" value="@item.Id" name="id" /><br>
                                <input type="submit" value="Удалить" />
                        }
                    </div>
                }

            }
        </div>

    </div>
</div>



@section Scripts {
    <script>
    $(document).ready(function () {
        var $c = $('.numberRating');
        if (parseInt($c.text()) != 0) {
            var c = parseFloat($c.text().replace(',', '.'));
            c = c.toFixed(1);
            $c.text(c);
        }
        $('.houseDelButton').on('click', function () {
            $('#delHouse').submit();
        });
    });
    </script>
}