@model RosCottedge.ViewModels.MyTripsViewModel


@{
    ViewBag.Title = "MyHouse";
}
@Html.Partial("Profile")

@*Выводит сообщение, что дом забронирован*@
@*<div>
    @if (TempData["reserv"] != null)
    {
        <div>@TempData["reserv"]</div>
    }
</div>*@
<div class="container">
    <div class="row">
        <div class="col-md-8">
            @foreach (var item in Model.ReservationDelete)
            {
                <div class="houseWrap">
                    <div class="houseContainer mainBox">
                        <div class="houseContainerHead">
                            <h3 class="myTripsDate"><span>Даты поездки:</span> @item.ArrivalDate.ToString("dd.MM.yyyy") - @item.DepartureDate.ToString("dd.MM.yyyy")</h3>
                            <div class="myTripsDelButton">
                                @if (item.DepartureDate > DateTime.Now)
                                {
                                    <form id="DeleteReservation">
                                        <input type="hidden" value="@item.HouseId" name="houseId" />
                                        <input type="hidden" value="@item.Id" name="id" /><br>
                                        <input class="closeMyTrips subRemove1" type="button" value="" title="Отказаться от брони" />
                                    </form>
                                }
                                else
                                {
                                    <input class="closeMyTrips" type="button" value="" title="Отказаться от брони" />
                                }
                            </div>
                        </div>
                        <div class="houseBodyContainer">
                            <div class="houseBodyIMG" style="background-image: url(@item.House.Pictures.Where(x => x.HouseId == item.House.Id).Select(x => x.Adress).FirstOrDefault());"></div>
                            <div class="navMyTripsBody">
                                <div class="houseBodyRating"><span class="numberRating">@item.House.Rating</span></div>
                                <a href="/House/Index?houseId=@item.House.Id"><p>Страница дома</p></a>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            <div class="historyArrivalBox mainBox">
                <h2>История поездок</h2>
                <div class="historyArrivalItems">
                    @foreach (var item in Model.ReservationHistory)
                    {
                        <div class="historyArrivalItem">
                            <div class="historyArrivalIMG" style="background-image: url(@item.House.Pictures.Where(x => x.HouseId == item.House.Id).Select(x => x.Adress).FirstOrDefault());"></div>
                            <div class="historyArrivalBody">
                                <p><span>Даты поездки:</span> @item.ArrivalDate.ToString("dd.MM.yyyy") - @item.DepartureDate.ToString("dd.MM.yyyy")</p>
                                <div>
                                    <form id="DeleteReservationTenant">
                                        <input type="hidden" value="@item.HouseId" name="houseId" />
                                        <input type="hidden" value="@item.Id" name="id" /><br>
                                        <input class="subRemove2" type="button" value="Удалить из списка" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            
                
        </div>
    </div>
</div>

@section Scripts {
    <script>
    $(document).ready(function () {
        var $c = $('.numberRating');
        if (parseInt($c.text()) != 0) {
            var c = parseFloat($c.text().replace(',', '.'));
            c = c.toFixed(1);
            $c.text(c);
        }

        $('.subRemove1').parent('form').click(function () {
            var $DelResLan = $(this);
            $.getJSON("/Account/DeleteReservation", $(this).serialize(), function (data) {
                $DelResLan.parents('.houseContainer').remove();
                console.log("Good");
            });
        });

        $('.subRemove2').parent('form').click(function () {
            var $DelResLan = $(this);
            $.getJSON("/Account/DeleteReservationTenant", $(this).serialize(), function (data) {
                $DelResLan.parents('.historyArrivalItem').remove();
            });
        });
    });
    </script>
}
