@model RosCottedge.Models.User

@{
    ViewBag.Title = "Profile";

}
@Html.Partial("Profile")
<div class="container">
            <div class="photoUserPI mainBox">
                <div class="avaUser" style="background-image: url(@Model.Avatar)"></div>
                @using (Html.BeginForm("AddAvatar", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadPhotoPI" }))
                {
                    <div class="file-uploadPI">
                        <label>
                            <input type="file" name="upload" accept="image/jpeg,image/png,image/bmp" id="fileUploadPI" /><br>
                            <span>Изменить фотографию</span>
                        </label>
                    </div>
                    <input id="submitFilePI" type="submit" value="Загрузить" style="display: none;" />
                }
                @Html.ActionLink("Изменить данные", "Edit")
            </div>
            <div style="display:inline-block" class="mainBox">
                <div class="personalInfo mainBox">
                    <h2>Логин</h2>
                    <p>@Html.DisplayFor(model => model.Login)</p>
                </div>
                <div class="personalInfo mainBox">
                    <h2>@Html.DisplayNameFor(model => model.LastName)</h2>
                    <p>@Html.DisplayFor(model => model.LastName)</p>
                </div>
                <div class="personalInfo mainBox">
                    <h2>@Html.DisplayNameFor(model => model.FirstName)</h2>
                    <p>@Html.DisplayFor(model => model.FirstName)</p>
                </div>
                <div class="personalInfo mainBox">
                    <h2>@Html.DisplayNameFor(model => model.MiddleName)</h2>
                    <p>@Html.DisplayFor(model => model.MiddleName)</p>
                </div>
                <div class="personalInfo mainBox">
                    <h2>@Html.DisplayNameFor(model => model.Email)</h2>
                    <p>@Html.DisplayFor(model => model.Email)</p>
                </div>
                <div class="personalInfo mainBox">
                    <h2>@Html.DisplayNameFor(model => model.Phone)</h2>
                    <p>@Html.DisplayFor(model => model.Phone)</p>
                </div>
            </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#fileUploadPI').on('change', function () {
                $('#uploadPhotoPI').submit();
            });

        });
    </script>
}