
@if (Model is RosCottedge.Models.User)
{
    <div class="menuPersonal">
        <div class="container">
            <div class="accountIMG" style="background-image: url(@Model.Avatar)"></div>
            <span>@Model.FirstName<br /> @Model.LastName</span>
            <ul class="menuPers">
                <li><a href="@Url.Action("PersonalInformation", "Account")"><i class='mdi mdi-account-box-outline'></i>Данные об аккаунте</a></li>
                <li><a href="@Url.Action("MyHouse", "Account")"><i class='mdi mdi-home'></i>Мои дома</a></li>
                <li><a href="@Url.Action("MyTrips", "Account")"><i class='mdi mdi-note-text'></i>Мои поездки</a></li>
            </ul>
        </div>
    </div>
}
else
{
<div class="menuPersonal">
    <div class="container">
        <div class="accountIMG" style="background-image: url(@Model.User.Avatar)"></div>
        <span>@Model.User.FirstName<br /> @Model.User.LastName</span>
        <ul class="menuPers">
            <li><a href="@Url.Action("PersonalInformation", "Account")"><i class='mdi mdi-account-box-outline'></i>Данные об аккаунте</a></li>
            <li id="menuMyHouse"><a href="@Url.Action("MyHouse", "Account")"><i class='mdi mdi-home'></i>Мои дома</a></li>
            <li><a href="@Url.Action("MyTrips", "Account")"><i class='mdi mdi-note-text'></i>Мои поездки</a></li>
        </ul>
    </div>
</div>
}
<script>
    $(function () {
        var location = window.location.href;
        console.log(location);
        $('.menuPers li').each(function () {
            var link = $(this).find('a').attr('href');
            if (location.indexOf(link) + 1) {
                $(this).addClass('current');
                $('#menuMyHouse').removeClass('current');
            } else if (location.indexOf("/Account/EditMyHouse")) {
                $('#menuMyHouse').addClass('current');
            }
            
        });
    });
</script>
