@model RosCottedge.Models.User

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<div class="Form FormRegistration">

    @Html.ValidationSummary(true, "")
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "validFormRegister"}))
    {
        @Html.AntiForgeryToken()




        <div class="innerForm mainBox">
            <div class="fields">

                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "firstItemForm field largeInputForm", @placeholder = "Фамилия" } })

                <div class="smallInputForm">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "field", @placeholder = "Имя" } })
                </div>

                <div class="smallInputForm floatInput">
                    @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "field", @placeholder = "Отчество" } })
                </div>

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "field largeInputForm", @placeholder = "E-mail" } })

                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "field largeInputForm", @placeholder = "Телефон" } })

                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "field largeInputForm", @placeholder = "Логин" } })

                <div class="smallInputForm">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "field", @placeholder = "Пароль" } })
                </div>

                <div class="smallInputForm floatInput">
                    <input id="PasswordConfirm" type="password" name="PasswordConfirm" value="" class="field" placeholder="Подтвердите пароль" />
                </div>

                <input class="signUpButton" type="submit" value="Регистрация" />
            </div>
            <a class="questBox" href="/Account/Login"> @TempData["houseImg"]У вас уже есть аккаунт?</a>
        </div>
        <a href="/" class="goToHome">Вернуться на главную</a>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
