@using Webdiyer.WebControls.Mvc
@model RosCottedge.ViewModels.HomeIndexViewModel

<div class="houses">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Houses)
            {
              <div class="col-md-4 col-sm-6 col-xs-12 widthMas">
                <a href="/House/Index?houseId=@item.Id" class="houseItem mainBox">
                  <div class="imgBox" style="background-image: url(@item.Pictures.Where(x => x.HouseId == item.Id).Select(x => x.Adress).FirstOrDefault())">
                    <span class="price">@item.Price руб.</span>
                  </div>
                  <div class="contentBox">
                    <h2>@item.Name</h2>
                    <span class="address">@item.Locality, @item.Area</span>
                    <p class="op87">@item.briefDescription</p>
                  </div>
                  <div class="characts">
                    <div class="colMan"><i class="mdi mdi-account-multiple op54"></i><span class="op87">Дом на @item.NumberOfPersons чел.</span></div>
                    <div class="ratingHouse" rating="@item.Rating">
                        <ul>
                            <li ratingItem="1"></li>
                            <li ratingItem="2"></li>
                            <li ratingItem="3"></li>
                            <li ratingItem="4"></li>
                            <li ratingItem="5"></li>
                        </ul>
                    </div>

                  </div>
                </a>
              </div>
            }
        </div>
        <div class="pagination-container">
            @Html.Pager(Model.Houses, new PagerOptions
            {
                PageIndexParameterName = "page",
                ContainerTagName = "ul",
                CssClass = "pagination",
                CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
                DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
                PagerItemTemplate = "<li>{0}</li>",
                NextPageText = "<i class='mdi mdi-chevron-right'></i>",
                PrevPageText = "<i class='mdi mdi-chevron-left'></i>",
                LastPageText = "<i class='mdi mdi-chevron-double-right'></i>",
                FirstPageText = "<i class='mdi mdi-chevron-double-left'></i>"
            })
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){

      $('.houseItem .imgBox').each(function(){
        if ( $(this).attr('style') == 'background-image: url()' ){
          $(this).attr('style','background-image: url(../../Content/img/icons/noImgHouse.svg)')
        }
      });

      $('.houses .row').masonry({
        itemSelector: '.col-md-4',
        columnWidth: '.widthMas',
        horizontalOrder: true
      });

      //RatingItemIndex
      $('.ratingHouse').each(function () {
          var rating = Math.round(+$(this).attr('rating').replace(',', '.'));
          for (var i = 1; i <= rating; i++) {
              $(this).children('ul').children('li[ratingItem=' + i + ']').css('opacity', '1');
          }
      });

    });
</script>
