@using PagedList.Mvc
@model PagedList.IPagedList<RosCottedge.Models.House>
 
<div class="houses">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 houseItem">
                    <div class="imgBox" style="background-image: url('../../Content/img/chubaka.jpg')"></div>
                    <div class="ContentBox">
                        <h2 class="nameHouse"><a href="/House/Index?houseId=@item.Id">@item.Name</a></h2>
                        <span class="address">@item.Locality, @item.Area</span>
                        <ul class="optionsHouse">
                            <li><p><span class="man op54"></span>@item.NumberOfPersons</p></li>
                            <li><p><span class="rub op54"></span>@item.Price руб./сутки</p></li>
                            <br>
                            <li><p><span class="com op54"></span>@item.Reviews.Count()</p></li>
                            <br>
                            <li><p><span>Регион</span>@item.Region</p></li>
                        </ul>
                        <div class="ratingHouse" rating="@item.Rating">
                            <h2>Оценка пользователей</h2>
                            <ul>
                                <li ratingItem="1"></li>
                                <li ratingItem="2"></li>
                                <li ratingItem="3"></li>
                                <li ratingItem="4"></li>
                                <li ratingItem="5"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.region, ViewBag.startPrice, ViewBag.finishPrice, ViewBag.numberOfPersons, ViewBag.arrivalDate, ViewBag.departureDate }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "Post",
    UpdateTargetId = "houses"
}))