@using Webdiyer.WebControls.Mvc
@model RosCottedge.ViewModels.HomeIndexViewModel

<div class="houses">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Houses)
            {
              <div class="col-md-4 col-sm-6 col-xs-12 widthMas">
                <a href="/House/Index?houseId=@item.Id" class="houseItem mainBox">
                  <div class="imgBox" style="background-image: url(@item.Pictures.Where(x => x.HouseId == item.Id).Select(x => x.Adress).FirstOrDefault())">
                    <span class="price">@item.Price руб.</span>
                  </div>
                  <div class="contentBox">
                    <h2>@item.Name</h2>
                    <span class="address">@item.Locality, @item.Area</span>
                    <p class="op87">@item.Description</p>
                  </div>
                  <div class="characts">

                    <div class="ratingHouse" rating="@item.Rating">
                        <ul>
                            <li ratingItem="1"></li>
                            <li ratingItem="2"></li>
                            <li ratingItem="3"></li>
                            <li ratingItem="4"></li>
                            <li ratingItem="5"></li>
                        </ul>
                    </div>

                  </div>
                </a>
              </div>
              <!--  <div class="col-md-6 houseItem">
                  <div class="itemWrap mainBox">
                    <div class="imgBox" style="background-image: url(@item.Pictures.Where(x => x.HouseId == item.Id).Select(x => x.Adress).FirstOrDefault())"></div>
                    <div class="ContentBox">
                        <h2 class="nameHouse"><a href="/House/Index?houseId=@item.Id">@item.Name</a></h2>
                        <span class="address">@item.Locality, @item.Area</span>
                        <ul class="optionsHouse">
                            <li><p><span class="man op54"></span>@item.NumberOfPersons</p></li>
                            <li><p><span class="rub op54"></span>@item.Price руб./сутки</p></li>
                            <br>
                            <li><p><span class="com op54"></span>@item.Reviews.Count()</p></li>
                            <br>
                            @*<li><p><span>Регион</span>@item.Region</p></li>*@
                        </ul>
                        <div class="ratingHouse" rating="@item.Rating">
                            <h2>Оценка пользователей</h2>
                            <ul>
                                <li ratingItem="1"></li>
                                <li ratingItem="2"></li>
                                <li ratingItem="3"></li>
                                <li ratingItem="4"></li>
                                <li ratingItem="5"></li>
                            </ul>
                        </div>
                    </div>
                  </div>
                </div> -->
            }
        </div>
        <div class="pagination-container">
          @Ajax.Pager(Model.Houses, new PagerOptions
     {
         PageIndexParameterName = "page",
         ContainerTagName = "ul",
         CssClass = "pagination",
         CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
         DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
         PagerItemTemplate = "<li>{0}</li>",
         NextPageText = "<i class='mdi mdi-chevron-right'></i>",
         PrevPageText = "<i class='mdi mdi-chevron-left'></i>",
         LastPageText = "<i class='mdi mdi-chevron-double-right'></i>",
         FirstPageText = "<i class='mdi mdi-chevron-double-left'></i>"
     }).AjaxOptions(a => a.SetUpdateTargetId("houses").SetDataFormId("searchForm").SetHttpMethod("Post"))
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){

      $('.houseItem .imgBox').each(function(){
        if ( $(this).attr('style') == 'background-image: url()' ){
          $(this).attr('style','background-image: url(../../Content/img/icons/noImgHouse.svg)')
        }
      });

      $('.houses .row').masonry({
        itemSelector: '.col-md-4',
        columnWidth: '.widthMas',
        horizontalOrder: true
      });

      //RatingItemIndex
      $('.ratingHouse').each(function () {
          var rating = Math.round(+$(this).attr('rating').replace(',', '.'));
          for (var i = 1; i <= rating; i++) {
              $(this).children('ul').children('li[ratingItem=' + i + ']').css('opacity', '1');
          }
      });

    });
</script>
