@model IEnumerable<RosCottedge.Models.House>
@{
    ViewBag.Title = "Home Page";
}

<table class="table table-bordered" style="text-align:center">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price руб. / сутки</td>
            <td>@item.NumberOfPersons чел.</td>
            <td>@item.Region</td>
            <td>@item.Locality</td>
            <td>@item.Area</td>
            <td>@item.HouseNumber</td>
            <td>@item.Description</td>
            <td>@item.Food</td>
            <td>@item.Transfer</td>
            <td>@item.ServicesIncluded</td>
            <td>@item.AdditionalServices</td>
            <td>@item.Accomodations</td>
            <td>@item.BookingConditions</td>
            <td>@item.Rating</td>
        </tr>
    }
</table>