@using Webdiyer.WebControls.Mvc
@model RosCottedge.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="map_canvas"></div>
<section id="search">
  <div class="container">
    <form id ="searchForm" class="searchBox mainBox" method="post" @*action="/Home/Index" data-ajax="true" data-ajax-update="#houses" data-ajax-mode="replace"*@>
      <div class="mainField">
        <div class="area searchFields">
          <input autocomplete="off" class="select firstItem" type="text" placeholder="Город или район" name="region">
          <ul></ul>
        </div>
        <div class="dates searchFields">
          <div class="cell50_inp">
            <input type="text" placeholder="Заезд" name="arrivalDate" id="date1" class="date" readonly="readOnly">
          </div>
          <div class="cell50_inp">
            <input type="text" placeholder="Выезд" name="departureDate" id="date2" class="date" readonly="readOnly">
          </div>
        </div>
        <div class="prices searchFields">
          <div class="cell50_inp">
            <input type="text" id="minCost" class="cost1" placeholder="Цена от" name="startPrice" minVal="@ViewBag.MinPrice" readonly="readOnly">
          </div>
          <div class="cell50_inp">
            <input type="text" id="maxCost" class="cost2" placeholder="Цена до" name="finishPrice" maxVal="@ViewBag.MaxPrice" readonly="readOnly">
          </div>
          <div id="slider-range"></div>
        </div>
        <div class="numPersons searchFields">
          <div class="cell100_inp">
            <input type="text" placeholder="Кол. человек" name="numberOfPersons">
          </div>
        </div>
        <input type="hidden" value=1 name="fromForm">
        <div class="cell100_inp">
          <input type="submit" value="Подобрать" class="red">
        </div>
      </div>
      <div class="addField row selectNone">
        <div class="sortingBox col-xs-6">
          <span class="sorting"></span>
          <span class="op87">Сортировка</span>
        </div>
        <div class="totalItems col-xs-6 op87">
            Всего <span>результатов</span>: @Model.Houses.TotalItemCount
        </div>
        <div class="col-xs-12 sortingItems">
          <ul>
            <li>
              <input type="radio" id="r1" name="sortBy" checked value="new">
              <label for="r1"><span></span>Сначала новые</label>
            </li>
            <li>
              <input type="radio" id="r3" name="sortBy" value="rating">
              <label for="r3"><span></span>По рейтингу</label>
            </li>
            <li>
              <input type="radio" id="r4" name="sortBy" value="price">
              <label for="r4"><span></span>Дешевле</label>
            </li>
            <li>
              <input type="radio" id="r5" name="sortBy" value="priceDesc">
              <label for="r5"><span></span>Дороже</label>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</section>

<div id="houses">
    @Html.Partial("_Houses", Model)
</div>

@*<div>
    @foreach (var r in Model.Regions)
    {
        <div>@r.Region: @Model.AllHouses.Where(x => x.Region == r.Region).Count()</div>
    }
</div>*@

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDJZlsRr82NdMVjqUPb1fVy-t49lPdTgrw"></script>
<script src="../../Scripts/libs/markerclusterer/markerclusterer.js"></script>
@section scripts {
    @Scripts.Render("/Scripts/config/main.js")
    @Scripts.Render("/Scripts/libs/masonry.pkgd.min/masonry.pkgd.min.js")
    @{Html.RegisterMvcPagerScriptResource();}
}
