@using Webdiyer.WebControls.Mvc
@model RosCottedge.ViewModels.HouseIndexViewModel

@foreach (var review in Model.Reviews)
{
  <div class="formReview" id="formReviewId">
      <input type="hidden" value="@Model.House.Id" name="HouseId">
      <div class="formRowTop">
          <div class="userLogo" style="background-image: url(@review.User.Avatar);"></div>
          <div class="commentWrap">
            <span class="userName">@review.User.FirstName @review.User.LastName</span>
            <p>@review.Comment</p>
          </div>
      </div>
      <div class="formRowBottom">

          <div class="ratingHouse formSelect" rating="@review.Rating">
            <ul>
              <li ratingItem="1"></li>
              <li ratingItem="2"></li>
              <li ratingItem="3"></li>
              <li ratingItem="4"></li>
              <li ratingItem="5"></li>
            </ul>
              <select style="display: none;" name="Rating" id="selectRating"></select>
          </div>
          <div class="btnSendReviewWrap">
              <span class="op54">Отзыв оставлен: @review.CommentDate</span>
              @if (User.IsInRole("admin"))
                {
                    using (Html.BeginForm("DeleteComment", "Admin", FormMethod.Post))
                    {
                      <input type="hidden" value="@review.HouseId" name="houseId" />
                      <input type="hidden" value="@review.Id" name="id" />
                      <input type="submit" value="Удалить" />
                  }
              }
          </div>
      </div>
  </div>
}
<script>
  $(document).ready(function(){

    $('.ratingHouse').each(function () {
        var rating = $(this).attr('rating');
        for (var i = 1; i <= rating; i++) {
            $(this).children('ul').children('li[ratingItem=' + i + ']').css('opacity', '1');
        }
    });

  });
</script>

<div class="pagination-container">
    @Ajax.Pager(Model.Reviews, new PagerOptions
    {
        PageIndexParameterName = "page",
        ContainerTagName = "ul",
        CssClass = "pagination",
        CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
        DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
        PagerItemTemplate = "<li>{0}</li>",
        NextPageText = "<i class='mdi mdi-chevron-right'></i>",
        PrevPageText = "<i class='mdi mdi-chevron-left'></i>",
        LastPageText = "<i class='mdi mdi-chevron-double-right'></i>",
        FirstPageText = "<i class='mdi mdi-chevron-double-left'></i>"
    }).AjaxOptions(a => a.SetUpdateTargetId("comments").DisableHistorySupport())
</div>
<input type="hidden" id="tempRating2" value="@Model.House.Rating" />
