@using Webdiyer.WebControls.Mvc
@model RosCottedge.ViewModels.HouseIndexViewModel

@foreach (var review in Model.Reviews)
{
    <div class="reviewItem">
        <div class="reviewUser">
            <img src="~/content/img/zlad.jpg" alt="">
            <h3>@review.User.FirstName<br>@review.User.LastName</h3>
        </div>
        <div class="reviewContent">
            <p class="travelTime">Отзыв оставлен: @review.CommentDate</p>
            <p>@review.Comment</p>
            <p class="ratingReview">Оценка: <span>@review.Rating/5</span></p>
        </div>
    </div>
}


@Ajax.Pager(Model.Reviews, new PagerOptions
{
    PageIndexParameterName = "page",
    ContainerTagName = "ul",
    CssClass = "pagination",
    CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
    DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
    PagerItemTemplate = "<li>{0}</li>",
    NextPageText = ">",
    PrevPageText = "<",
    LastPageText = ">>",
    FirstPageText = "<<"
}).AjaxOptions(a => a.SetUpdateTargetId("comments").DisableHistorySupport())

<input type="hidden" id="tempRating2" value="@Model.House.Rating" />

