@using Webdiyer.WebControls.Mvc
@model RosCottedge.ViewModels.HouseIndexViewModel

@foreach (var review in Model.Reviews)
{
    <div class="reviewItem">
        <div class="reviewUser">
            <div style="background-image: url(@review.User.Avatar);"></div>
            @*<img src=@review.User.Avatar alt="">*@
            <h3>@review.User.FirstName<br>@review.User.LastName</h3>
        </div>
        <div class="reviewContent">
            <p class="travelTime">Отзыв оставлен: @review.CommentDate</p>
            <p>@review.Comment</p>
            <p class="ratingReview">Оценка: <span>@review.Rating/5</span></p>
        </div>
    </div>
}

<div class="pagination-container">
    @Ajax.Pager(Model.Reviews, new PagerOptions
    {
        PageIndexParameterName = "page",
        ContainerTagName = "ul",
        CssClass = "pagination",
        CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
        DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
        PagerItemTemplate = "<li>{0}</li>",
        NextPageText = "<i class='mdi mdi-chevron-right'></i>",
        PrevPageText = "<i class='mdi mdi-chevron-left'></i>",
        LastPageText = "<i class='mdi mdi-chevron-double-right'></i>",
        FirstPageText = "<i class='mdi mdi-chevron-double-left'></i>"
    }).AjaxOptions(a => a.SetUpdateTargetId("comments").DisableHistorySupport())
</div>
<input type="hidden" id="tempRating2" value="@Model.House.Rating" />

