@model RosCottedge.Models.House

@{
    ViewBag.Title = "Добавление дома";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div style="display: none;" class="colimg">@TempData["houseImg"]</div>
<div class="Form FormCreate">
    @using (Html.BeginForm("Create", "House", FormMethod.Post, new { id = "validCreateHouse" }))
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "")


        <div class="innerForm mainBox">
            <div class="fields">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control largeInputCreate largeInputCreateTop", @placeholder = "Название дома"} })

                <div class="smallInputCreate">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Стоимость" } })
                </div>

                <div class="smallInputCreate floatInput">
                    @Html.EditorFor(model => model.NumberOfPersons, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Количество человек" } })
                </div>

                <div class="smallInputCreate">
                    <input numField="1" class="locality" type="text" name="Region" id="Region" value="" placeholder="Регион" />
                </div>

                <div class="smallInputCreate floatInput">
                    <input numField="2" class="locality noActRow" type="text" name="Locality" id="Locality" value="" placeholder="Населенный пункт" />
                </div>

                <div class="smallInputCreate">
                    <input numField="3" class="locality noActRow optional" type="text" name="Area" id="Area" value="" placeholder="Улица" />
                </div>

                <div class="smallInputCreate floatInput">
                    <input numField="4" class="locality noActRow optional" type="text" name="HouseNumber" id="HouseNumber" value="" placeholder="Дом" />
                </div>

                <div id="map_canvas" style="width:100%; height:400px; margin-bottom:0; margin-top: 15px;"></div>

                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Описание" } })

                @Html.EditorFor(model => model.Food, new { htmlAttributes = new { @class = "form-control", @placeholder = "Питание" } })

                @Html.EditorFor(model => model.Transfer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Трансфер" } })

                @Html.EditorFor(model => model.ServicesIncluded, new { htmlAttributes = new { @class = "form-control", @placeholder = "Услуги, включенные в стоимость" } })

                @Html.EditorFor(model => model.AdditionalServices, new { htmlAttributes = new { @class = "form-control", @placeholder = "Услуга за отдельную плату" } })

                @Html.EditorFor(model => model.Accomodations, new { htmlAttributes = new { @class = "form-control", @placeholder = "Условия проживания" } })

                @Html.EditorFor(model => model.BookingConditions, new { htmlAttributes = new { @class = "form-control", @placeholder = "Условия бронирования" } })

                <input class="ButtonCreate" type="submit" value="Разместить дом" />


                <input id="latitude" name="lat" type="hidden" />
                <input id="longitude" name="lng" type="hidden" />

            </div>
        </div>
        <a href="/" class="goToHome">Вернуться на главную</a>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/config/core.js"></script>
    <script src="~/Scripts/config/kladr.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJZlsRr82NdMVjqUPb1fVy-t49lPdTgrw"></script>
    <script>
        $(document).ready(function () {

          $.kladr.setDefault({
            parentInput: '#validCreateHouse',
            verify: true,
            limit: 5
          });

          $('#Region').kladr('type', $.kladr.type.region);
          $('#Locality').kladr('type', $.kladr.type.city);
          $('#Area').kladr('type', $.kladr.type.street);
          $('#HouseNumber').kladr('type', $.kladr.type.building);


          var loc = 'Москва',
              filledItem = 0;

          $('.locality').on('blur', function(){
              loc = $('#Region').val()+" "+$('#Locality').val()+" "+$('#Area').val()+" "+$('#HouseNumber').val();

              $('.locality').each(function(){
                if ( $(this).val() != 0 ) filledItem++;
              });
              switch (filledItem) {
                case 1: filledItem = 6; break;
                case 2: filledItem = 9; break;
                case 3: filledItem = 14; break;
                case 4: filledItem = 17; break;
                default: filledItem = 1; break;
              }
              MapGoogle(filledItem);
            });


            function MapGoogle(zoomMap) {
                filledItem = 0;
                console.log(loc);
                geocoder.geocode({ 'address': loc }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[0]) {
                            var addr = results[0].address_components;
                            var latitude = results[0].geometry.location.lat();
                            var longitude = results[0].geometry.location.lng();
                            var location = new google.maps.LatLng(latitude, longitude);
                            marker.setPosition(location);
                            map.setCenter(location);
                            map.setZoom(zoomMap);
                            $('#latitude').val(latitude);
                            $('#longitude').val(longitude);
                        }
                    }
                });
            }
            function placeMarker(location) {
                if (marker) {
                    marker.setPosition(location);
                } else {
                    marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        icon: {
                            url: "../../Content/img/mapMarkers/map_marker.png"
                        }
                    });
                }
            }

        });



        var styleArray = [
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#7fc8ed"
                    },
                    {
                        "saturation": 55
                    },
                    {
                        "lightness": -6
                    },
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "labels",
                "stylers": [
                    {
                        "hue": "#7fc8ed"
                    },
                    {
                        "saturation": 55
                    },
                    {
                        "lightness": -6
                    },
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                    {
                        "hue": "#83cead"
                    },
                    {
                        "saturation": 1
                    },
                    {
                        "lightness": -15
                    },
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [
                    {
                        "hue": "#f3f4f4"
                    },
                    {
                        "saturation": -84
                    },
                    {
                        "lightness": 59
                    },
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "labels",
                "stylers": [
                    {
                        "hue": "#ffffff"
                    },
                    {
                        "saturation": -100
                    },
                    {
                        "lightness": 100
                    },
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [
                    {
                        "hue": "#ffffff"
                    },
                    {
                        "saturation": -100
                    },
                    {
                        "lightness": 100
                    },
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels",
                "stylers": [
                    {
                        "hue": "#bbbbbb"
                    },
                    {
                        "saturation": -100
                    },
                    {
                        "lightness": 26
                    },
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [
                    {
                        "hue": "#ffcc00"
                    },
                    {
                        "saturation": 100
                    },
                    {
                        "lightness": -35
                    },
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                    {
                        "hue": "#ffcc00"
                    },
                    {
                        "saturation": 100
                    },
                    {
                        "lightness": -22
                    },
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "poi.school",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#d7e4e4"
                    },
                    {
                        "saturation": -60
                    },
                    {
                        "lightness": 23
                    },
                    {
                        "visibility": "on"
                    }
                ]
            }
        ];

        var geocoder;
        var marker;
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map_canvas'), {
                zoom: 3,
                scrollwheel: false,
                center: { lat: 61.52401, lng: 105.318756 },
                styles: styleArray
            });

            geocoder = new google.maps.Geocoder();

            marker = new google.maps.Marker({
                map: map,
                icon: {
                    url: "../../Content/img/mapMarkers/map_marker.png"
                }
            });

            return map;

        }
        var map = initMap();

    </script>
}
