@using RosCottedge.Models
@using PagedList.Mvc

@model RosCottedge.ViewModels.HouseIndexViewModel
@{
    ViewBag.Title = "house";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.House.Name</h2>

 <form id="reservation">
        <input type="hidden" value="@Model.House.Id" name="HouseId" />
        <table>
            <tr>
                <td><input type="date" name="ArrivalDate" /> </td>
            </tr>
            <tr>
                <td>
                    <input type="date" name="DepartureDate" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="Для арендодателя" name="Description" />
                </td>
            </tr>
            <tr><td><input type="submit" value="Забронировать" /> </td><td></td></tr>
        </table>
    </form>
<div class="errorBox"></div>

<hr/>

@if (User.Identity.IsAuthenticated)
{
    <h2>Новый коммент</h2>
    <form method="post" action="AddReview">
        <input type="hidden" value="@Model.House.Id" name="HouseId">

        <label for="Rating">Оценка</label>
        <select class="form-control" id="Rating" name="Rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>

        <label for="Comment">Комментарий:</label>
        <textarea rows="5" id="Comment" name="Comment"></textarea>

        <button type="submit">Отправить</button>
        <hr />
    </form>
}

<h2>Комменты</h2>
<br/>

@foreach (var review in Model.Reviews)
{
    <div class="reviewItem">
        <div class="reviewUser">
            <img src="~/content/img/zlad.jpg" alt="">
            <h3>@review.User.FirstName<br>@review.User.LastName</h3>
        </div>
        <div class="reviewContent">
            <p>@review.Comment</p>
            <p class="ratingReview">Оценка: <span>@review.Rating/5</span></p>
        </div>
    </div>
}
<br />
Страница @(Model.Reviews.PageCount < Model.Reviews.PageNumber ? 0 : Model.Reviews.PageNumber) из @Model.Reviews.PageCount

@Html.PagedListPager(Model.Reviews, page => Url.Action("Index", new { houseId = Model.House.Id, page }))