<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="Windows-1251">
  <title>@ViewBag.Title</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="../../Content/libs/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="../../Content/libs/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../Content/style/media.css">
  <link rel="stylesheet" href="../../Content/style/PagedList.css">
  <link rel="stylesheet" href="../../Content/style/Site.css">
</head>
<body>
  <div id="wrapper">
    <div class="mainMenu">
      <ul>
          @if (User.Identity.IsAuthenticated)
          {
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти (@User.Identity.Name)</a></li>
              using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
              {
                @Html.AntiForgeryToken()
              }
            <li>@Html.ActionLink("На главную", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("Добавить дом", "Create", "House", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("Личный кабинет", "Profile", "Account", new { area = "" }, new { @class = "navbar-brand" })</li>
            
          }
          else
          {
            <li>@Html.ActionLink("Вход", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("Регистрация", "Register", "Account", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("Добавить дом", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })</li>
          }
      </ul>
    </div>
    @RenderBody()
    <footer>
      <div class="container">
        <div class="mainFooter">
          <div class="row">
            <div class="col-md-3 col-xs-12">
              <h3>Роскоттедж</h3>
              <span>
                Давно выяснено, что при оценке
                дизайна и композиции читаемый
                текст мешает сосредоточиться.
                Lorem Ipsum используют потому,
                что тот обеспечивает более или
                менее стандартное
              </span>
            </div>
            <div class="col-md-3 col-xs-12">
              <h3>Контакты</h3>
              <ul class="mainList">
                <li><p>Телефон:<span> +7 (911) 700-10-20</span></p></li>
                <li><p>E-mail:<span> cottage@roscottage.ru</span></p></li>
                <li><p>Адрес:<span> г. Петрозаводск, ул. Ленина, дом 9, офис 3</span></p></li>
              </ul>
            </div>
            <div class="col-md-3 col-xs-12">
              <h3>Контакты</h3>
              <ul class="mainList">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Помощь</a></li>
                <li><a href="#">Рекламодателям</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-xs-12">
              <h3>Контакты</h3>
              <ul class="socBtns">
                <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              </ul>

              <h3>Поделиться</h3>
              <div class="share">
                <input type="text" name="" value="" placeholder="Введите ваш E-mail">
                <div class="shareBtn"></div>
              </div>
            </div>
            <div class="col-md-12 cop">
              <span>
                Все права защищены  ©<br>
                Интернет-сайт roscottage.ru разработан в рамках хакатона (форум разработчиков), который проводился организацией РосКвартал в 2017 году.
                Данный сайт не будет доступен для публичного просмотра, в связи с этим эта надпись тут не требуется. Всем добра.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="bottomFooter">
        <div class="container">
          <span>
            roscottage.ru - аренда домов по всей России. 2017
          </span>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  
  <script async defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJZlsRr82NdMVjqUPb1fVy-t49lPdTgrw&callback=initMap">
  </script>
  <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
  <script src="../../Content/script/main.js" charset="utf-8"></script>
  @RenderSection("scripts", required: false)
</body>
</html>
